# chartdata is api call - gives 24 hour data for a pair
# https://github.com/toml-lang/toml



[BotControl]
active=false        # default do nothing - change this!
simulate=true       # default do nothing - change this! Can use a -simulate=true  as overide
sellsellsell=false  # crash sell command. Otherwise will look to trade. Can use a -sellsellsell=true  as overide
botname="HastyPoloniexBot"

[Credentials]
apikey=
secret=


[Currency]
fiat="USD"            # fiat currency to compare to for reports
base="BTC"            # BTC is good for base
target="STR"          # chose something volotile! 

[TradingRules]
minbasetotrade=0.02 # will trade in blocks of this size
maxgrowth=3         # how many times greater than purchase price before a forced sale
maxlosstorisk=0.03  # how much loss lower than purchase price to risk before forcing a sell # TODO actual price or ema or sma????


[Analysys]
ema=30              # exponential moving average (takes recent sales more into account) orange line
sma=50              # Simple moving average (average over a period)- blue line - if ema is higher then buy
period=300          # period between chart data points (lowest poloniex offers)

[DataStore]
#type="csv"
#filename="data"

type="toml"
filename="data"

[logging]
filename="tradingbot"
path="."
configname="config.toml"
