# chartdata is api call - gives 24 hour data for a pair
# https://github.com/toml-lang/toml

[BotControl]
active=true        # default do nothing - change this!
simulate=true       # default do nothing - change this! Can use a -simulate=true  as overide
sellsellsell=false  # crash sell command. Otherwise will look to trade. Can use a -sellsellsell=true  as overide
botname="HastyPoloniexBot"

[Credentials]
apikey="blah"
secret="blah"


[Currency]
fiat="USDT"            # fiat currency to compare to for reports
base="BTC"            # BTC is good for base
target="STR"          # chose something volotile! 
targets="STR,XVC,XRP,ETH,LTC,NXT,XMR"

[TradingRules]
minbasetotrade=0.02 # will trade in blocks of this size
fragments=3
maxgrowth=2         # how many times greater than purchase price before a forced sale
maxlosstorisk=0.01  # how much loss lower than purchase price to risk before forcing a sell # TODO actual price or ema or sma????
triggerbuy=0.0075     # % of sma that diff between ema and sma must show to trigger a buy
buyfee=0.0025       # %
sellfee=0.0025      # % 0.0015=0.15%


[Analysis]
ema=30              # exponential moving average (takes recent sales more into account) orange line
sma=50              # Simple moving average (average over a period)- blue line - if ema is higher then buy
period=300          # period between chart data points (300 lowest poloniex offers, normal view is 30mins=1800)

[DataStore]

filename="state.json"
